@import 'variables';
.card-course-item {
    margin-top: 16px;
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}
.img-detail {
    width: 502px;
    height: 276px;
}
.img-btn {
    width: 356px;
    height: 214px;
}
.img-dir {
    width: 556px;
    height: 518px;
}
.img-banner {
    width: 556px;
    height: 518px;
}
.text-price {
    margin-top: 50px;
    text-align: center;
    color: #111111;
}
.text-tittle {
    color: #111111;
    margin-bottom: 20px;
}
.text-dir {
    font-size: 18px;
    margin-top: 10px;
}
// footer
.bg-footer {
    background-color: #33383c;
    padding: 50px 0 30px;
    margin-top: 200px;
}
.footer-heading {
    letter-spacing: 2px;
}

.footer-link a {
    color: #acacac;
    line-height: 40px;
    font-size: 14px;
    transition: all 0.5s;
}

.footer-link a:hover {
    color: #1bbc9b;
}

.contact-info {
    color: #acacac;
    font-size: 14px;
}

.footer-social-icon {
    font-size: 15px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
}

.facebook {
    background-color: #4e71a8;
    color: #ffffff;
}

.twitter {
    background-color: #55acee;
    color: #ffffff;
}

.google {
    background-color: #d6492f;
    color: #ffffff;
}

.apple {
    background-color: #424041;
    color: #ffffff;
}

.footer-alt {
    color: #acacac;
}

.footer-heading {
    position: relative;
    padding-bottom: 12px;
}

.footer-heading:after {
    content: '';
    width: 25px;
    border-bottom: 1px solid #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    border-bottom: 1px solid #1bbc9b;
}

  



/*************footer End*****************/

